* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

@font-face {
    font-family: myfont1;
    src: url(./fonts/Bittermilk.ttf);
}

.wrapper{

/* Navbar Styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: White;
    padding: 15px 20px;
    position: fixed;
    width: 100vw;
    z-index: 1000;
}
.logo {
    height: 1.5em;
    cursor: pointer;
}
.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}
.nav-links li {
    display: inline;
}

.nav-links a:hover, .profile i:hover{
    color: red;
    text-underline-offset: 10px;
    text-decoration: underline;
}
.nav-links a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 18px;
}

.profile{ 
    i{
    margin-left: 1em;
    cursor: pointer;
}
}
.menu-toggle {
    display: none;
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
}

@media (max-width: 600px) {
    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background: #ffffff;
        text-align: center;
        padding: 10px 0;
    }
    .nav-links.active {
        display: flex;
    }
    .menu-toggle {
        display: block;
    }
    .profile{ 
        i{
        display: none;
    }
    }
}

/* Hero Section */
.hero-section{
    .main{
    background-image: url(./asset/BG_Hero.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    position: relative;
    display: flex;

    .left{
        padding: 12% 5%;
        height: auto;
        width: 50vw;
        color: white;
        h1{
            font-size: 6vw;
            color: white;
            -webkit-text-fill-color: transparent;
            -webkit-text-stroke-width: 1px;
        }
        h2{
            letter-spacing: 1px;
            font-size: 2.5vw;
        }
        p{
            width: 90%;
            font-size: 1.2vw;
            margin: 3% 0;
            color: #938d8d;
        }
        .price{
            width: 80%;
            display: flex;
            justify-content: space-between;
            strong{
                display: flex;
                font-size: 5vw;
            }
            pr, h2{
                color: red;
                font-family: myfont1;
            }
        }
        .Buy{
            width: 10em;
            padding: 7% 10%;
            border-radius: 40px;
            
            margin: 20% 0;  
            background-color: red;
            border: none;
            color: white;
            cursor: pointer;
        }
    }

    .right{
        width: 50%;
        height: auto;
        .hero-image{
            position: absolute;
            bottom: 10%;
            right: 10%;
            z-index: 10;
            width: 50%;
            height: auto;
        }

        .hero-image:hover{
            transform: rotate(2deg);
        }

        .brand{
            
            font-size: 16vw;
            position: absolute;
            right: -150px;
            bottom: 25%;
            color: rgba(255, 255, 255, 40%);
            -webkit-text-fill-color: transparent;
            -webkit-text-stroke-width: 5px;
            transform: rotate(90deg);
        }

    }
    }            
    }
@media (max-width: 600px) {
    .hero-section .main{
        width: 100vw;
        background-position: left;
        flex-direction: column;
        
        .left{
            width: 100vw;
            height: 50vh;
            padding: 40% 5%;
            font-size: 1.5vh;
            h1{
                font-size: 4.5em;
            }
            h2{
                font-size: 2em;
            }
            p{
                margin: 5% 0;
                font-size: 1em;
            }

            .price{
                strong pr{
                    display: flex;
                    font-size: 15vw;
                }
            }
            .Buy{
                width: 7em;
                margin-top: 30%;
                margin-left: 50%;  
            }
        }

        .right{
            width: 100vw;
            height: 50vh;
            .hero-image{
                width: 90%;
                right: 5%;
                bottom: 10%;
            }

            .brand{
                font-size: 18vh;
                right: 0;
                bottom: 0;
                margin: 0 5%;
                transform: rotate(0deg);
            }

        }
    }

    
}

/* Section2 */
.section2{
    width: 100vw;
    height: 100vh;
    background: url(./asset/BG2.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    .offer{
        background-color: red;
        color: white;
        height: 4%;
        padding: 5px;
        li{
            display: inline;
            margin-left: 2%;
        }
    }
    .main{
        display: flex;
        flex-direction: row;
        position: relative;
    
        .left{
            width: 50vw;
            height: calc(100vh - 4vh);
            padding: 2%;
            position: relative;
            
            h1{
                font-size: 25vh;
                text-align: center;
                color: rgba(255, 255, 255, 70%);
            }
            #model{
                position: absolute;
                height: 90vh;
                left: 25%;
                top: 0;
             }
        }

        .right{
            width: 50vw;
            height: calc(100vh - 4vh);
            color: white;
            padding: 10% 0;
            text-align: center;
            h1{
                font-size: 9vh;
                font-weight: 900;
            }
            h2{
                font-size: 4vh;
                font-weight: 600;
                font-family: calibri;
            }
            button{
                background: transparent;
                height: 11%;
                padding: 1% 5%;
                border-radius: 40px;
                margin:30px 30%;
                border: 2px solid red;
                color: white;
                font-size: 1.1em;
                cursor: pointer;
            }

            button:hover{
                background-color: red;
            }
        }
    }

    @media (max-width: 600px) {
        .main{
            flex-wrap: wrap;
            .left{
                height: 50vh;
                width: 100%;
                padding: 5% 0;
                h1{
                    font-size: 14vh;
                }
                #model{
                    height: 45vh;
                }
            }
            .right{
                height: 46vh;
                width: 100%;
                padding: 15% 0;
                h1{
                    font-size: 15vw;
                }
                h2{
                    font-size: 7vw;
                }
                button{
                    font-size: 3vw;
                }

            }
        }
        
    }
}

.section3{
    height: 100vh;
    width: 100vw;
    background: url(./asset/BG2.png);
    background-position: center;
    background-size: cover;
    display: flex;

    .left{
        width: 40%;
        height: 100%;
        position: relative;
        .triangle{
            margin: 20% 15%;
            height: 70%;
            position: absolute;
        }

        .shoe1{
            height: 100%;
            position: absolute;
            top: 3%;
            left: 10%;
        }
    }

    .right{
        width: 60%;
        height: 100vh;
        padding: 10% 5%;
        color: white;
        h1{
            font-size: 5vw;
            -webkit-text-fill-color: transparent;
            -webkit-text-stroke: 2px;
        }
        h2{
            font-size: 6vw;
            font-family: Bahnschrift;  
            letter-spacing: -5px;
        }
        p{
            width: 80%;
            font-size: 1.45vw;

        }
        
        button{
            background: transparent;
            padding: 1.5% 7%;
            border-radius: 40px;
            margin: 8% 0;
            border: 2px solid red;
            color: white;
            font-size: 1.1vw;
            cursor: pointer;
        }

        button:hover{
            background-color: red;
        }
    }

    @media (max-width: 600px) {
        flex-direction: column;
        .left{
            width: 100vw;
            height: 50vh;
            .triangle{
                height: 80%;
            }
            .shoe1{
                height: 120%;
                left: 35px;
            }
        }
        .right{
            width: 100vw;
            height: 50vh;
            padding: 5% 5%;
            h1{
                font-size: 6vh;
            }
            h2{
                font-size: 5vh;
                letter-spacing: 1px;
            }
            p{
                width: 90%;
                font-size: 2.5vh;
            }
            button{
                font-size: 2vh;
            }
        }
    }
}

/* Section 4 */
.section4{
    height: 100vh;
    width: 100vw;
    background: url(./asset/BG2.png);
    padding: 2% 10%;
    background-position: center;
    background-size: cover;

    .title {
        font-size: 2vw;
        text-align: center;
        color: white;

    }

    .collection {
        margin: 10% 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between; 
        gap: 30px;
    }

    .card {
        width: 25%; 
        height: 50vh;
        padding: 2%; 
        background: rgba(255, 255, 255, 10%);
        border-radius: 15px;
        transition: transform 0.3s;
        position: relative;
        img {
            width: 100%;
            height: auto; 
        }
        h2{
            color: white;
            position: absolute;
            bottom: 70px;
        }

    }

    .card:hover {
        transform: scale(1.05);
    }


    .card:hover img {
        transform: scale(1.1);
    }

    .pr{
        width: 85%;
        position: absolute;
        bottom: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .price {
        font-size: 1.5rem;
        color: red;
        font-weight: bold;
    }

    .buy-btn {
        background: red;
        color: white;
        border: none;
        padding: 10px 20px;
        font-size: 1rem;
        cursor: pointer;
        border-radius: 40px;
        margin-bottom: 8%;
        transition: background 0.3s;
    }

    .buy-btn:hover {
        background: darkred;    
    }

    .heart {
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 1.5rem;
        cursor: pointer;
        color: red;
    }

    @media (max-width: 600px) {
        height: 150vh;
        .title {
            font-size: 3vh;
            margin-top: 2%;
        }
    
        .collection { 
            flex-direction: column;
            align-items: center;
        }
    
        .card {
            width: 90%; 
            height: 40vh;
            padding: 5%;
            img {
                margin: 5%;
                width: 80%;
            }    
        }
    }
}

/* section 5 */
.section5{
    color: white;
    position: relative;
    video{
        height: auto;
        width: 100vw;
        z-index: 1;
    }

    h1{
        z-index: 10px;
        font-size: 7vw;
        position: absolute;
        bottom: 150px;
        text-align: center;
        margin: 0 25%;
        -webkit-text-stroke: 2px;
        -webkit-text-fill-color: transparent;
        text-shadow: 5px 5px 20px rgb(0, 0, 0);
        
    }

    p{
        font-size: 2vw;
        text-transform: uppercase;
        width: 80%;
        position: absolute;
        bottom: 50px;
        margin: 0 14%;
        text-shadow: 5px 5px 20px rgb(0, 0, 0);
    }
    
    @media (max-width: 600px) {
        h1{
            bottom: 5vh;
            margin: 0 30vw;
        }

        p{
            bottom: 2vh;
            width: 75%;
            margin: 0 10vw;
        }
        
    }
}

/* Footer */
.footer {
    height: 80vh;
    width: 100vw;
    background: url(./asset/BG2.png);
    background-position: center;
    background-size: cover;
    
    .footerInner{
        height: 80vh;
        background: url(./asset/BG-footer.png);
        background-position: center;
        position: relative;
        display: flex;
    }
    .footer-container {
        bottom: 100px;
        position: absolute;
        color: white;
        z-index: 10;
        max-width: 90vw;
        display: flex;
        /* flex-wrap: wrap; */
        /* justify-content: space-between; */
    }

    .footer-box {
        min-width: 250px;
        margin-left: 9%;
        color: white;
    h2 {
        margin-bottom: 1rem;
    }

    ul li {
        cursor: pointer;
        margin-bottom: 4%;
        list-style: none;
    }

    ul li a {
        color: #bbb;
        text-decoration: none;
        transition: 0.3s;
    }

    ul li a:hover {
        color: #0b0b0b;
    } 
    }
    .footer-bottom {
        position: absolute;
        display: flex;
        width: 100vw;
        bottom: 30px;
        li{
            margin-left: 5vw;
            display: inline;
        }
        li:first-child{
            margin-right: 25vw;
        }
        a{
            text-decoration: none;
            color: white;
        }
        border-top: 1px solid #e1e1e1;
        padding-top: 10px;
    } 

    .brand{
        h1{
            color: white;
            font-size: 12vw;
            -webkit-text-fill-color: transparent;
            -webkit-text-stroke-width: 2px; 
            text-align: center;
        }
    }
    .footer_mobile{
        display: none;
    }
    }

    @media (max-width: 600px) {
        .footer{
            height: 100vh;
            padding: 10% 0 0 0;
            .footerInner{
                display: none;
            }
            .brand{
                h1{

                    font-size: 15vh;
                    margin: 0;
                }
            }
        }
    }

}
